*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}